.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.08);
  background-color: var(--white);
}
.nav-logo {
  width: 140px;
  margin: 24px 0 24px 32px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;
  flex-wrap: wrap;
}
.nav-listItem {
  list-style-type: none;
  margin: 0 8px;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color-text);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color-1);
  text-decoration: underline solid var(--secondary-color);
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.icons {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: var(--primary-color-1);
  cursor: pointer;
  display: none;
  margin-right: 32px;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-3);
  }
  .nav-list {
    display: none;
  }
  .nav-link-burguer {
    text-decoration: none;
    text-align: center;
    color: var(--primary-color-1);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: bold;
    margin: 8px 16px;
  }

  .icons {
    display: block;
  }
  #menuIcon {
    position: absolute;
    height: 32px;
    width: 32px;
    transition: all 200ms ease-in;
  }
  #menuX {
    position: absolute;
    height: 32px;
    width: 32px;
    transition: all 200ms ease-in;
  }

  .showBurgerMenu {
    display: block;
  }
  .hideBurguerMenu {
    display: none;
  }
  .showIcon {
    display: block;
  }
  .hideIcon {
    display: none;
  }
}
